@import "compass/css3";

#wrapper {
  margin: 0 auto;
  width: 800px;
}

$shadow-1: rgba(#000, .5) -200px 0 0;
$shadow-2: rgba(#000, .4) -400px 0 0;
$shadow-3: rgba(#000, .3) -600px 0 0;
$shadow-4: rgba(#000, .2) -800px 0 0;

.motion {
  @include text-shadow(
    $shadow-1,
    $shadow-2,
    $shadow-3,
    $shadow-4
  );
  font-size: 2em;
  font-style: italic;
  text-align: right;
}

.skipping {
  @include text-shadow(
    $shadow-2,
    $shadow-4
  )
}

.simon {
  @include border-radius(100px);
  @include box-shadow(
    #000 0 0 0 25px,
    #f00 0 -50px 0,
    #00f 50px 0 0,
    #ff0 0 50px 0,
    #0f0 -50px 0 0
  );
  background: #999;
  color: #fff;
  height: 50px;
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  width: 50px;
}
