@import "compass/utilities";
@import "compass/css3";

.ex {
  width: 40%;
  margin-right: 2%;
  float: left;
  @include clearfix;
  p {
    padding-top: 10px;
  }
}

.gradient-example {
  width: 80px;
  height: 80px;
  background: #f00;
  float: left;
  margin: 1em 1em 0 0;
}
