@import "compass/css3";

#wrapper {
  margin: 0 auto;
  width: 600px;
}

h1, h2 {
  font-family: sans-serif;
}

h1 {
  text-shadow: #ccc 5px 5px 2px;
}

h2 {
  text-shadow: #ddd -1px 1px 0;
  background: #999;
  padding: 1em;
}