@import "compass/layout";

@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");

#header {
  background: #999;
  height: 72px;
}

#footer {
  background: #ccc;
}

.example {
  height: 100%;
  border: 3px solid #f00;
  p {
    margin: 1em 0.5em;
  }
}
