@import "compass/typography";



div.dot-to-dot {
    width: 200px;
    @include ellipsis;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    td.nowrap {
        border: 1px solid #000;
        @include nowrap;
    }
}