/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;  //our baseline unit
}

//(baseline unit/font-size) = line-height
h1 {font-size: 48px; line-height: 0.5em}        //(24px / 48px) = .5em  
h2 {font-size: 36px; line-height: 0.666667em}   //(24px / 36px) = .666667em
h3 {font-size: 24px; line-height: 1.0em}          //(24px / 24px) = 1em
h4 {font-size: 20px; line-height: 1.2em}        //(24px / 20px) = 1.2em
h5 {font-size: 18px; line-height: 1.333333em}   //(24px / 18px) = 1.333333em
p {margin: 1.5em 0;}

