/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {font-size: 48px;}
h2 {font-size: 36px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h1, h2, h3, h4, h5 {line-height: 1.5em;}
p {margin: 1.5em 0;}

