/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2015, 8:02:05 PM
    Author     : petrero
*/
/* line 17, ../sass/Mixin.scss */
.notice {
  background-color: green;
  border: 2px solid #00aa00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 32, ../sass/Mixin.scss */
ul.plain {
  color: #444;
  list-style: none;
}
/* line 25, ../sass/Mixin.scss */
ul.plain li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 43, ../sass/Mixin.scss */
a {
  color: blue;
}
/* line 39, ../sass/Mixin.scss */
a:hover {
  color: blue;
}
/* line 40, ../sass/Mixin.scss */
a:visited {
  color: blue;
}
