/* line 4, ../sass/pattern.scss */
.ex {
  width: 40%;
  margin-right: 2%;
  float: left;
  overflow: hidden;
  *zoom: 1;
}
/* line 9, ../sass/pattern.scss */
.ex p {
  padding-top: 10px;
}

/* line 14, ../sass/pattern.scss */
.gradient-example {
  width: 80px;
  height: 80px;
  background: #f00;
  float: left;
  margin: 1em 1em 0 0;
}
