/* line 10, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -72px;
}
/* line 18, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#layout #layout_footer {
  height: 72px;
}

/* line 20, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 72px;
}

/* line 5, ../sass/sticky.scss */
#header {
  background: #999;
  height: 72px;
}

/* line 10, ../sass/sticky.scss */
#footer {
  background: #ccc;
}

/* line 14, ../sass/sticky.scss */
.example {
  height: 100%;
  border: 3px solid #f00;
}
/* line 17, ../sass/sticky.scss */
.example p {
  margin: 1em 0.5em;
}
