/* line 5, ../sass/strech.scss */
.stretch-container {
  border: 1px solid #999999;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 13, ../sass/strech.scss */
#stretch-full, #stretch-offset, #stretch-x, #stretch-y {
  border: 3px solid #4c6b99;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  background-color: #192433;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
}

/* line 25, ../sass/strech.scss */
#stretch-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 30, ../sass/strech.scss */
#stretch-offset {
  position: absolute;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
}

/* line 35, ../sass/strech.scss */
#stretch-x {
  position: absolute;
  left: 0;
  right: 0;
}

/* line 40, ../sass/strech.scss */
#stretch-y {
  position: absolute;
  top: 0;
  bottom: 0;
}
