/* line 3, ../sass/horizontal.scss */
ul.nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.nav li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.nav li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul.nav li.last {
  padding-right: 0;
}

/* line 5, ../sass/horizontal.scss */
ul.words {
  list-style-type: none;
}
/* line 6, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
ul.words, ul.words li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 30, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
ul.words li:after {
  content: ", ";
}
/* line 32, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
ul.words li:last-child:after {
  content: "";
}
/* line 36, ../../../../.rvm/gems/ruby-2.2.3/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
ul.words li.last:after {
  content: "";
}
