/* line 5, ../sass/style.scss */
div.dot-to-dot {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 10, ../sass/style.scss */
table {
  border: 1px solid #000;
  border-collapse: collapse;
}
/* line 13, ../sass/style.scss */
table td.nowrap {
  border: 1px solid #000;
  white-space: nowrap;
}

/* line 19, ../sass/style.scss */
h1.coffee {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../img/coffee_header.jpg?1443763939');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
