/* line 5, ../sass/style.scss */
div.dot-to-dot {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 10, ../sass/style.scss */
table {
  border: 1px solid #000;
  border-collapse: collapse;
}
/* line 13, ../sass/style.scss */
table td.nowrap {
  border: 1px solid #000;
  white-space: nowrap;
}
